.pagination > li > a {
    cursor: pointer
}

td > input {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

td {
    margin: 0;
    padding: 0;
}

td {
    background-color: #f9f9f9
}

* {
    font-family: Sahel, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.editing {
    border: solid 1px red;
}